*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

button,
input,
textarea {
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}